.container-registerPage {
    //background-color: #ffefdb;
    border-radius: 10px;
}
#background4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/diy-food-photography-backgrounds.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
  }
